.dashboard {
  &__top {
    display: flex;
    gap: 2rem;

    &__item {
      flex: 1;
      padding: 2rem 1rem;
      display: flex;
      gap: 2rem;
      & > * {
        color: white;
      }

      & > div {
        h2 {
        }

        h3 {
          text-align: center;
          font-size: 5rem;
          font-weight: 400;
        }
      }

      svg {
        width: 10rem;
        height: 10rem;
        fill: white;
      }

      &:nth-child(1) {
        background-image: linear-gradient(to right bottom, #7cecff, #0e7d90);
      }
      &:nth-child(2) {
        background-image: linear-gradient(to right bottom, #bcfbb5, #58d24a);
      }
      &:nth-child(3) {
        background-image: linear-gradient(to right bottom, #8472d8, #291d63);
      }
    }
  }

  &__bottom {
    margin-top: 4rem;
  }
}

.topStudents {
  flex: 1;
  &__tableRow {
    & > * {
      font-size: 1.8rem !important;
      color: #333 !important;
      font-weight: 400 !important;
    }
  }

  &__tableCell {
    & > * {
      font-size: 1.4rem !important;
      color: #666 !important;
      font-weight: 400 !important;
      padding: 0.8rem 1.6rem !important;
    }
  }
}
