.login {
  padding: 3rem 2rem;
  max-width: 45rem;
  width: 100%;
  text-align: center;

  a:link,
  a:visited {
    display: inline-block;
    margin-top: 2rem;
  }

  &__tab {
    flex: 1;
    text-transform: none;
  }

  &__form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &__inp {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__btn {
      width: 100%;
      text-transform: none;
    }
  }
}
