.user {
  padding: 1rem;
  min-height: 83vh;
  color: #666;

  &__head {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__container {
    display: flex;
    gap: 5rem;
    align-items: flex-start;
  }

  &__img {
    flex: 1;

    img {
      display: block;
      width: 100%;
      height: 20rem;
      object-fit: contain;
    }
  }

  &__form {
    flex: 2;
    &__top {
      display: flex;
      gap: 2rem;
    }

    &__btn {
      font-size: 1.4rem;
      text-transform: none;
      margin-left: auto;
      display: flex;
      width: max-content;
    }

    &__bottom {
      display: flex;
      gap: 2rem;
      margin: 2rem 0;
      align-items: center;
    }
  }

  &__inp {
    width: 100%;
    font-size: 1.4rem;
  }
}
