.grade {
  padding: 1rem;
  min-height: 83vh;
  color: #666 !important;
  button {
    font-size: 1.6rem !important;
    text-transform: none !important;
  }

  &__head {
    font-size: 3rem;
    font-weight: 300 !important;
  }

  &__form {
    margin-top: 3rem;
    &__top {
      display: flex;
      gap: 2rem;
    }

    &__subjects {
      margin-top: 2rem;
      // display: flex;
      // align-items: flex-start;
      // gap: 6rem;
      margin-bottom: 2rem;

      & > div {
        display: flex;
        gap: 1rem;
        width: 100%;
        align-items: center;
        flex: 1;

        button {
          width: 20rem;
        }
      }

      ul {
        border: 1px solid lightgray;
        flex: 1;
        li {
          padding: 0.5rem 2rem;
          display: flex;
          gap: 1rem;
          align-items: center;
        }
        li:nth-child(odd) {
          background-color: #eee;
        }
      }
    }
    &__inp {
      width: 100%;
      & > * {
        font-size: 1.4rem !important;
      }
    }

    &__add {
      display: flex;
      gap: 6rem;
      justify-content: space-between;
      margin-top: 2rem;

      &__search {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;
        position: relative;
      }
      &__left,
      &__right {
        // background-color: aqua;
        flex: 1;

        ul {
          border: 1px solid lightgray;
          li {
            padding: 0.5rem 2rem;
            display: flex;
            gap: 1rem;
            align-items: center;
          }
          li:nth-child(odd) {
            background-color: #eee;
          }
        }
      }

      &__right {
        // background-color: coral;
        flex: 1;
      }
    }
  }
}

.searchedList {
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 10;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.349);
  top: 110%;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  & > p {
    margin-left: auto;
    color: coral;
    cursor: pointer;
    margin-right: 1rem;
  }

  & > div {
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    &:hover {
      background-color: rgba(211, 211, 211, 0.685);
    }
  }
}
