.payments {
  max-width: 70rem;
  margin: 0 auto;

  &__create {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__container {
    border: 1px solid lightgray;
    // padding: 1rem;
  }

  &__tableHead {
    display: flex;
    justify-content: space-between;
    background-color: rgb(223, 217, 217);
    padding: 1rem;
  }
  &__tableBody {
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
    &__img {
      display: block;
      width: 15rem;
    }
  }
}
