.students {
  padding: 1rem;
  min-height: 83vh;
  color: #666;

  &__top {
    margin-bottom: 3rem;

    h3 {
      font-weight: 300;
      margin-bottom: 1.5rem;
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  &__create {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      text-transform: none;
    }
  }

  &__head {
    font-size: 3rem;
    font-weight: 300;
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    &__inp {
      margin-left: auto;
    }

    button {
      text-transform: none;
    }
  }
}

.filter {
  display: flex;
  gap: 2rem;

  &__option {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: none;
    color: #666;
    min-width: 13rem;
  }
}

.tableCell {
  font-size: 1.8rem;
  color: #666;
}

.menuItem {
  font-size: 1.4rem;
}

.refresh {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}
