.forgot {
  padding: 3rem 2rem;
  max-width: 45rem;
  width: 100%;
  text-align: center;

  h2 {
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
